<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fs.four.human.address.dao.AddressDAO">

    <!-- 전체 주소록 조회 -->
    <select id="getAllAddress" resultType="AddressVO">
        SELECT
        AD_ID AS adId,
        AD_NAME AS adName,
        AD_PHONE AS adPhone,
        AD_EMAIL AS adEmail,
        AD_DEPT_NAME AS adDeptName,
        AD_GROUP AS adGroup
        FROM ADDRESS
        ORDER BY adId DESC -- 번호를 기준으로 내림차순 정렬
    </select>

    <!-- 필터와 검색어 기반 검색 -->
    <select id="searchAddress" resultType="AddressVO">
        SELECT
        AD_ID AS adId,
        AD_NAME AS adName,
        AD_PHONE AS adPhone,
        AD_EMAIL AS adEmail,
        AD_DEPT_NAME AS adDeptName,
        AD_GROUP AS adGroup
        FROM ADDRESS
        WHERE LOWER(${category}) LIKE '%' || LOWER(#{query}) || '%' <!-- 대소문자 구분 X -->
        ORDER BY adId DESC -- 번호를 기준으로 내림차순 정렬
    </select>

    <!-- 특정 주소록 조회 -->
    <select id="getAddressById" resultType="AddressVO">
        SELECT
        AD_ID AS adId,
        AD_NAME AS adName,
        AD_PHONE AS adPhone,
        AD_EMAIL AS adEmail,
        AD_DEPT_NAME AS adDeptName,
        AD_GROUP AS adGroup
        FROM ADDRESS
        WHERE AD_ID = #{id}
    </select>

    <!-- 새로운 주소 데이터 등록 -->
    <insert id="createAddress">
        INSERT INTO ADDRESS (ad_id, AD_NAME, AD_PHONE, AD_EMAIL, AD_DEPT_NAME, AD_GROUP, AD_CREATED_DATE, AD_UPDATED_DATE )
        VALUES (
            address_seq.NEXTVAL,
            #{adName},
            #{adPhone},
            #{adEmail},
            #{adDeptName},
            #{adGroup},
            SYSDATE,
            SYSDATE
        )
    </insert>

    <!-- 주소록 수정 -->
    <update id="updateAddress">
        UPDATE ADDRESS
        SET AD_NAME = #{adName},
            AD_PHONE = #{adPhone},
            AD_EMAIL = #{adEmail},
            AD_DEPT_NAME = #{adDeptName},
            AD_GROUP = #{adGroup}
        WHERE AD_ID = #{adId}
    </update>

    <!-- 주소록 삭제 -->
    <delete id="deleteAddress">
        DELETE FROM ADDRESS
        WHERE AD_ID = #{id}
    </delete>


</mapper>
