<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fs.four.human.common.dao.CommonDAO">
    <select id="getEmployeeById" resultType="CommonVO">
        SELECT
        e_id,
        e_name,
        e_pwd,
        e_phone,
        e_email,
        e_position,
        e_dept,
        e_created_date,
        e_updated_date
        FROM employee
        WHERE e_id = #{e_id}
    </select>

    <update id="updateEmployee" parameterType="CommonVO">
        UPDATE employee
        SET
        e_phone = #{e_phone},
        e_email = #{e_email},
        e_pwd = #{e_pwd},
        e_updated_date = SYSDATE
        WHERE e_id = #{e_id}
    </update>
</mapper>
