<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fs.four.human.addressBook.dao.AddressDAO">
    <select id="getAllAddresses" resultType="fs.four.human.addressBook.vo.AddressVO">
        SELECT * FROM t_address ORDER BY created_date DESC
    </select>
</mapper>
