<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fs.four.human.notice.dao.NoticeDAO">
    <select id="getAllNotices" resultType="fs.four.human.notice.vo.NoticeVO">
        SELECT * FROM t_notice ORDER BY created_date DESC
    </select>
</mapper>
