<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fs.four.human.todo.dao.TodoDAO">
    <select id="getAllTodos" resultType="fs.four.human.todo.vo.TodoVO">
        SELECT * FROM t_todo ORDER BY created_date DESC
    </select>
</mapper>
