.common {
  margin: 30px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* 전체 배경색 */

}

/* <a> 태그의 기본 스타일 제거 */
.common a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 상속 */
}

/* hover 상태에서도 밑줄 제거 강제 적용 */
.common a:hover, a:focus, a:active {
  text-decoration: none !important; /* !important로 강제 제거 */
  color: inherit; /* 색상 유지 */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

header .user-info {
  display: flex;
  margin-right:10px;
  gap: 50px;
}

header .user-info span {
  display:flex;
  margin-left: 10px;
  font-size: 18px;
  color: #555;
}

header .user-info strong {
  font-weight: bold;
  color: #333;
}

header .user-info a:hover {
  text-decoration: underline;
  color: #555;
}

/* 레이아웃 스타일 */
.container {
  display: flex;
  margin-top: 20px;
}

/* 사이드바 스타일 */
.sidebar {
  width: 150px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px 30px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1); /* 사이드바 그림자 */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
  color: #555;
}

.sidebar li span,
strong {
  font-weight: bold;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
  cursor: auto;
}

.sidebar li strong {
  cursor: pointer;
}

.sidebar a:hover {
  text-decoration: underline;
  color: #959595;
}
